name: Build APK

on:
  push:
    paths:
      - .github/workflows/test.yml
      - fastlane/Fastfile
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  JAVA_VERSION: 21
  GITHUB_ACTION_RUN_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

permissions:
  contents: read
  packages: read
  actions: write

jobs:
  # version:
  #   name: Calculate Version Name and Number
  #   uses: bitwarden/android/.github/workflows/_version.yml@main
  #   with:
  #     app_codename: "bwpm"
  #     # Start from 11000 to prevent collisions with mobile build version codes
  #     base_version_number: 11000
  #     version_name: ${{ inputs.version-name }}
  #     version_number: ${{ inputs.version-code }}
  #     patch_version: ${{ inputs.patch_version && '999' || '' }}
  build:
    name: Build
    runs-on: ubuntu-24.04

    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 3

      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0


      - name: Configure JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: "temurin"
          java-version: ${{ env.JAVA_VERSION }}

      - name: Configure Ruby
        uses: ruby/setup-ruby@44511735964dcb71245e7e55f72539531f7bc0eb # v1.257.0
        with:
          bundler-cache: true

      - name: Install Fastlane
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Decode Keystore
        run: |
          cd keystores
          echo "${{ secrets.SIGNING_KEY_BASE64 }}" | base64 -d > kt.jksx

      - name: Check
        run: |
          bundle update fastlane
          
        #bundle exec fastlane check

      # - name: Build
      #   run: bundle exec fastlane assembleDebugApks

      - name: Build
        env:
            SIGN_STORE_FILE: kt.jksx
            SIGN_STORE_PASSWORD: ${{ secrets.SIGN_STORE_PASSWORD }}
            SIGN_KEY_ALIAS: ${{ secrets.SIGN_KEY_ALIAS }}
            SIGN_KEY_PASSWORD: ${{ secrets.SIGN_STORE_PASSWORD }}
        run: bundle exec fastlane assemblesigningApks


      - name: Prepare App
        run: |
          mkdir -p ${{ github.workspace }}/OutAPK/
          find . -name "*.apk" -exec mv {} ${{ github.workspace }}/OutAPK/ \;

      - name: Upload App To Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bitwarden

          path: ${{ github.workspace }}/OutAPK/*.apk
